<html lang="en" dir="ltr">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="" integrity="" crossorigin=""></script>
        <script src="" integrity="" crossorigin=""></script>
        <script src="" integrity="" crossorigin=""></script>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        <div class="jumbotron text-center" style="background-color:powerblue;">
            <h1>We Make Hand Crafted Drinks</h1>
        </div>

        <div class="jumbotron text-center" style="background-color:turquoise;">
            <p>Here is our menu</p>
            <button type="button" class="btn btn-outline-success" href="our_story.html">Primary</button>
        </div>

        <div class="jumbotron text-center" style="background-color:turquoise;">
            <p>Click here to see our story</p>
            <button type="button" class="btn btn-outline-success" href="our_story.html">Primary</button>
        </div>
    </body>
</html>