<link href="" rel="" integrity="" crossorigin="">
<link href="" rel="" type="">

{% if fail %}
<div class="alert alert-danger" role="alert">
    Incorrect credentials!
</div>
{% endif %}
<center>
    <br>
    <h1><b>Customer - Login</b></h1>
    <form class="" acction="/val" method="post">
        <div class="container">
            <br>
            <label for="email"><b>Email</b></label>
            <input type="email" name="email2" value="">
            <br><br>
            <label for="pwd"><b>Password</b></label>
            <input type="password" name="pwd2" valie="">
            <br><br>
            <button type="submit" name="button">Log In</button>
        </div>
    </form>
</center>